# Review

## Data Types

Name the following Data Types

In [112]:
import string

In [113]:
name = "Andrew"

In [114]:
type(name)

str

In [115]:
age = 28

In [116]:
type(age)

int

In [117]:
pi = 3.14

In [118]:
type(pi)

float

In [119]:
vect = (5 + 7j)

In [120]:
type(vect)

complex

In [121]:
isThisRealLife = False

In [122]:
type(isThisRealLife)

bool

In [123]:
keyValue = {'Key0' : 1, 'key1': 2, 'key3' : 3}

In [124]:
type(keyValue)

dict

In [125]:
studentsPerTeacher = ['Mr. Jones', ['Bob', 'Susan, Jen'], 'Mrs. Warren', ['Craig', 'Eric'], 'Mr.Coffman', ['Jack', 'Jim', 'Hank']]

In [126]:
type(studentsPerTeacher)

list

In [127]:
print(type(studentsPerTeacher[0]))
print(type(studentsPerTeacher[1]))

<class 'str'>
<class 'list'>

In [128]:
unique = {1, 1, 2, 2, 3, 3, 4, 5, 6, 6, 7}

In [129]:
type(unique)

set

In [130]:
print(unique)

{1, 2, 3, 4, 5, 6, 7}

## Name these operators

==

%

**

//

## Solve x

In [132]:
x, y = 0, 1

while y < 10:
    x += 1
    print(x)
    y += 1

1
2
3
4
5
6
7
8
9

## Find and Correct the Errors

In [ ]:
a = 1
b = 1

if a > b
    b += 2
elif a < b
    a += 2
else:
    A == b
    print('Equal')
    
    
    #missing colons, capital 'A' (Python is a case-sensative language)

## Attribute or Method?

In [133]:
newString = 'hello'

print(newString.upper())
print(string.digits)

HELLO
0123456789

Write a function that takes 2 arguments and finds the area of a triangle (Base multiplied by height, divided by two):

In [134]:
def areaoftri(b, h):
    area = b * h
    area /= 2
    return area
areaoftri(10, 5)

25.0

Write a loop that prints every value from 1 - 100, replacing every fifth value with the word 'bang'

In [135]:
i = 1

while i <= 100:
    if i%5 == 0:
        print('bang')
    else:
        print(i)
    i +=1

1
2
3
4
bang
6
7
8
9
bang
11
12
13
14
bang
16
17
18
19
bang
21
22
23
24
bang
26
27
28
29
bang
31
32
33
34
bang
36
37
38
39
bang
41
42
43
44
bang
46
47
48
49
bang
51
52
53
54
bang
56
57
58
59
bang
61
62
63
64
bang
66
67
68
69
bang
71
72
73
74
bang
76
77
78
79
bang
81
82
83
84
bang
86
87
88
89
bang
91
92
93
94
bang
96
97
98
99
bang

Create a list of integers 1- 10, and then using a for loop add one to all odd numbers and divide all even numbers by 2.

In [136]:
numList= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i = 0
for num in numList:
    if numList[i]%2 != 0:
        numList[i] = num + 1
        
    else:
        numList[i] = num / 2
        
    i+=1
print(numList)

[2, 1.0, 4, 2.0, 6, 3.0, 8, 4.0, 10, 5.0]

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.
Find the largest palindrome made from the product of two 3-digit numbers.